@font-face {
    font-family: 'asapitalic';
    src: url('../font/asap-italic-webfont.eot');
    src: url('../font/asap-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/asap-italic-webfont.woff') format('woff'),
        url('../font/asap-italic-webfont.ttf') format('truetype'),
        url('../font/asap-italic-webfont.svg#asapitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'asapbold';
    src: url('../font/asap-bold-webfont.eot');
    src: url('../font/asap-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/asap-bold-webfont.woff') format('woff'),
        url('../font/asap-bold-webfont.ttf') format('truetype'),
        url('../font/asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'asapregular';
    src: url('../font/asap-regular-webfont.eot');
    src: url('../font/asap-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/asap-regular-webfont.woff') format('woff'),
        url('../font/asap-regular-webfont.ttf') format('truetype'),
        url('../font/asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
input[type="button"], input[type="submit"], input[type="reset"] {
    background: #595959;
    color: #ffffff;
    border: 1px solid #14513f;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}
input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background: #8f8d8d;
}
input[type="text"], input[type="password"] {
    display: inline-block;
    height: 22px;
    border-radius: 5px;
    border: none;
    font-family: 'asapregular';
}
body {
    font-family: 'asapregular';
}
#page {
    background: #E9EAED;
    border: medium none;
    margin: 0;
    width: 100%;
}
.list-view .summary {
    display: none;
}
div.view {
    position: relative;
    border: 1px solid #CBCBCB;
    margin: 1px 0px;
    font-size: 18px;
}
div.clearFix {
    clear: both;
}
/***** Header (inicio) *****/
#header {
	position: relative;
	background-color: rgb(88, 172, 250);
	border: none;
}
    #logo {
            height: 45px;
    }
        #logo a{
                display: block;
                width: 40px;
                height: 40px;
                margin-left: 50px;
                text-indent: -9999px;
                overflow: hidden;
                background: url("../images/logo.png") no-repeat;
        }
    #mainmenu {
            position: absolute;
            right: 55px;
            top: 20px;
            background: none;
            background-color: #58acfa;
    } 
        #mainmenu ul li a {
                font-size: 13px;
                padding: 5px 5px;
        }
        #mainmenu ul li.active a {
                color: #ffffff;
                text-decoration: none;
        }
        #mainmenu ul li a:hover {
                background-color: #58acfa;
                color: #ffffff;
                text-decoration: none;
                border-bottom: 1px solid #ffffff;
        }
/***** Header (fin) *****/

/***** Footer (inicio) *****/
#footer {
	display: none;
}
/***** Footer (fin) *****/

/***** Contenedores principales (inicio) *****/
#content {
    padding: 0 10px;
}
#contentIzq {
    float: left;
    width: 275px;
    border-right: 1px solid #CBCBCB;
    padding-right: 10px;
}
.fluida {
    width: 100%;
}
#contentDer {
    margin-left: 275px;
    padding-left: 20px;
    padding-right: 5px;
    //float: right;
    //width: 100%;
    //padding-bottom: 20px;
}
#content-princ-izq {
	float: left;
	width: auto;
	min-width: 40%; 
	max-width: 100%;
	padding-bottom: 20px;
        padding-right: 15px;
}
#content-princ-der {
	float: left;
	width: 58%;
	padding-bottom: 20px;
}
/***** Contenedores principales (fin) *****/

#categoria-list-view .items .view a.categoria,
.actividadesPorCate .list-view .items .view form a.actividad {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #000000;
    padding-bottom: 0;
}

/***** Formularios (inicio) *****/
#categoria-form, .formActividad {
    width: 100%;
}
    #categoria-form .row {
        width: 88%;
    }
    #categoria-form .buttons {
        width: 12%;
        float: right;
        margin-top: -34px;
    }
.formActividad div:first-child {
    width: 88%;
}
.formActividad div:last-child{
    width: 12%;
    float: right;
    margin-top: -34px;
}
.actividadesPorCate {
    display: none;
    margin-top: 20px;
}
#categoria-form .row label,
.actividadesPorCate .form .formActividad label,
#content-princ-izq .form .formTarea label {
    display: none;
}
#categoria-form .row input[type="text"],
.actividadesPorCate .form .formActividad .row input[type="text"] {
    width: 90%;
    display: block;
    padding: 0px 7px;
}
#categoria-form div.buttons input[type="submit"],
.actividadesPorCate .form .formActividad .buttons input[type="submit"],
#content-princ-izq .form .formTarea .buttons input[type="submit"] {
    display: block;
    width: 24px;
    height: 23px;
    text-indent: -9999px;
    overflow: hidden;
    background: url("../images/agregar.png") no-repeat center;
    border: none;
}
#content-princ-izq .form .formTarea .buttons input[type="submit"] {
    float: right;
    margin-top: -34px;
}
#content-princ-izq div.form {
    width: 320px;
}
.form .formTarea .row input[type="text"] {
    padding: 0px 7px;
    width: 85%;
}
#content-princ-izq .form .formTarea .buttons input[type="submit"] {
    margin-top: -35px;
}
/***** Formularios (fin) *****/

/***** Barra de progreso (inicio) *****/
#contentDer  .progreso {
    width: 99%;
    height: 57px;
    background: url('../images/barra.png') no-repeat 100px 10px;
    font-size: 18px;
    line-height: 45px;
}
/***** Barra de progreso (fin) *****/

/***** Menu lista y calendario (inicio) *****/
#contentDer .menu {
    height: 30px;
} 
#menu {
    display: block;
    float: right;
    width: 230px;
    margin-bottom: 10px;
    margin-top: 10px;
}
    #menu li {
        float: left;
        margin: 0 10px;
    }
        #menu li a {
            text-decoration: none;
            font-size: 15px;
        }
        #menu li.lista {
        }
        #menu li.lista a:link, #menu li.lista a:visited {
        }
        #menu li.lista a:hover {
        }
        #menu li.calendario {
        }
        #menu li.calendario a:link, #menu li.calendario a:visited {
        }
        #menu li.calendario a:hover {
        }
        #menu li.reportes a:link, #menu li.reportes a:visited {
        }
        #menu li.reportes a:hover {
        }
/***** Menu lista y calendario (fin) 

/***** Menus categotia, actividad y tarea (inicio) *****/
#categoria-list-view .items .view a.menu-categoria,
.actividadesPorCate .list-view .items .view a.menu-actividad,
#content-princ-izq .list-view .items .view a.menu-tarea {
    display: none;
    position: absolute;
    width: 36px;
    height: 29px;
    background: url("../images/bt-menu.png") no-repeat;
    cursor: pointer;
    border: hidden;   
    text-indent: -9999px;
    overflow: hidden;
    float: right;
    top:5px;
    right: 5px;
}
#categoria-list-view .items .view:hover a.menu-categoria,
.actividadesPorCate .list-view .items .view:hover a.menu-actividad,
#content-princ-izq .list-view .items .view:hover a.menu-tarea {
    display: block;
}
#categoria-list-view .items .view a.menu-categoria:hover,
.actividadesPorCate .list-view .items .view a.menu-actividad:hover,
#content-princ-izq .list-view .items .view a.menu-tarea:hover {
    background: url("../images/bt-menuHover.png") no-repeat;
}
ul.categoria, ul.actividad, .eliminar-tarea  {
    display: none;
    position: absolute;
    top: 30px;
    right: 1px;
    background: #E9EAED;
    border: 1px solid #CBCBCB;
    border-radius: 5px;
    padding: 3px;
    z-index: 10;
}
    ul.categoria li, ul.actividad li, .eliminar-tarea  {
        height: 20px;
        padding-left: 15px; 
    }
        ul.categoria li a, ul.actividad li a, .eliminar-tarea  {
            text-decoration: none;
            color: #000000;
            font-size: 14px;
        }
    ul.categoria li.editar, ul.actividad li.editar {
        background: url("../images/editar.png") no-repeat 0 center;
    }
        ul.categoria li.editar a:link, ul.categoria li.editar a:visited,
        ul.actividad li.editar a:link, ul.actividad li.editar a:visited {
            
        }
        ul.categoria li.editar a:hover, ul.actividad li.editar a:hover {
            
        }
    ul.categoria li.eliminar, ul.actividad li.eliminar {
        margin-top: 2px;
        background: url("../images/eliminar.png") no-repeat 0 center;
    }
        ul.categoria li.eliminar a:link, ul.categoria li.eliminar a:visited,
        ul.actividad li.eliminar a:link, ul.actividad li.eliminar a:visited {
            
        }
        ul.categoria li.eliminar a:hover, ul.actividad li.eliminar a:hover {
            
        }
.eliminar-tarea {
    display: none;
    line-height: 19px;
    padding: 3px 3px 3px 17px;;
    margin: 0;
    background: url("../images/eliminar.png") no-repeat 2px center;
    background-color: #E9EAED;
}
/***** Menus categotia, actividad y tarea (fin) *****/
#content-princ-izq .list-view .items .view {
    height: 20px;
}
