#contentIzq {
    width: 100%;
}
#contentDer {
    display: none;
    border-left: none;
    margin-left: 0;
    padding: 0px;
}
#content-princ-izq {
    padding: 0;
}
#regresar {
	display: block;
}