/***** Contenedores principales (inicio) *****/
/***** Contenedores principales (fin) *****/
.form-tarea p {
    padding: 0 40px 10px 33px;
}
.botones {
    float: none;
    margin-left: 30px;
    margin-top: 0px;
}
.botones p {
    padding: 0;
}